In [11]:
from lib import *

# Descriptive statistics with pandas

In [12]:
# load data and describe data
path = "./World University Rankings 2023.csv"
data = loadData(path)
# print Nan information and Descriptive statistics
naninfo = nanInfo(data)
db =  describeData(data)

## check null datapoint

In [13]:
naninfo

University Rank                  0
Name of University             108
Location                       294
No of student                  132
No of student per staff        133
International Student          132
Female:Male Ratio              213
OverAll Score                  542
Teaching Score                 542
Research Score                 542
Citations Score                542
Industry Income Score          542
International Outlook Score    542
dtype: int64

In [ ]:
assert naninfo.shape[0] == 13

In [14]:
db

,count,mean,std,min,25%,50%,75%,max
No of student per staff,2208.0,19.000408,12.132224,0.4,12.6,16.6,22.20,232.2
Teaching Score,1799.0,27.018010,13.282243,11.6,18.0,22.7,31.85,94.8
Research Score,1799.0,23.016898,16.763819,7.4,11.3,17.0,28.90,99.7
Citations Score,1799.0,48.495887,27.967185,0.8,23.1,47.2,72.35,100.0
Industry Income Score,1799.0,47.104558,15.093682,36.9,37.8,40.5,48.30,100.0
International Outlook Score,1799.0,46.880378,22.582401,14.1,27.9,42.1,62.10,99.7

In [ ]:

for sta in ["count", "mean", "std", "max", "50%", "min"]:
    assert sta in db.columns